@model AcademicGradingSystem.Models.Grade
<h2>Grade Details</h2><p>Student: @Model.Student.FirstName @Model.Student.LastName</p><p>Score: @Model.Score</p><p>Plan: @Model.EvaluationPlan.ActivityName</p><p>Date: @Model.DateRecorded</p>